<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    {% block content %}
    {%  for user in user        %}
    <article class="media content-section bg-dark text-white">
    
            <div class="media-body">
              <div class="article-metadata">
                <p class="mr-2" >{{ user.username }}</p>
                <small class="text-muted">{{ user.useremail }}</small>
              </div>
              <h2 class="article-title bg-dark" >{{ user.gender }}</></h2>
              <h2>{{ user.Daily_activity }}</h2>
              
              <h2>{{ user.Report_result }}</h2>
              
            </div>
            
    </article>
    <br>
    {% endfor     %}

    {% endblock content   %}
    
</body>


</html>
