<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
  .tr{
    background-color:grey
  }
.te{
  font-size: 20px;
}
</style>

</head>
<body class="tr">
    {% block content %}
    {%  for user in user        %}
    <form>
        <div class="form-group row form-inline ">
            <label for="staticEmail" class="col-sm-1 col-form-label bg-primary te ">User-id</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext bg-light te" id="staticEmail" value={{user.id}}>
            </div>        
        </div>
      <div class="form-group row form-inline">
        <label for="staticEmail" class="col-sm-1 col-form-label bg-secondary text-light te">Username</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext bg-light te" id="staticEmail" value={{user.username}}>
        </div>        
      </div>
      <div class="form-group row form-inline">
        <label for="staticEmail" class="col-sm-1 col-form-label bg-light te">Email</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext bg-light te" id="staticEmail" value={{user.email}}>
        </div>        
      </div>
      <div class="form-group row form-inline">
        <label for="staticEmail" class="col-sm-1 col-form-label bg-light te">Gender</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext bg-light te" id="staticEmail" value={{user.gender}}>
        </div>        
      </div>
      <div class="form-group row form-inline">
        <label for="staticEmail" class="col-sm-1 col-form-label bg-info te">Report_result</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext bg-light te" id="staticEmail" value={{user.Report_result}}>
        </div>        
      </div>
      <div class="form-group row form-inline">
        <label for="staticEmail" class="col-sm-1 col-form-label bg-light te">Daily_activity</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext bg-light te" id="staticEmail" value={{user.Daily_activity}}>
        </div>        
      </div>
      <hr class="bg-dark">
    
    </form>
    {% endfor     %}

    {% endblock content   %}
    
</body>


</html>
